.user-list {
  height: 90%;
  position: relative;
  width: 100%;

  .list-content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;

    &::-webkit-scrollbar {
      width: 0px;
    }

    .single-user {
      background-color: darken($color: #f4f4f4, $amount: 0.9);
      box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 1rem;

      .user-content {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        .description {
          p {
            color: #222;
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0;
            margin-bottom: 10px;
          }
        }

        .actions {
          align-self: center;

          button {
            align-items: center;
            border: none;
            border-radius: 5px;
            color: #fafbfb;
            cursor: pointer;
            display: inline-flex;
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-left: 15px;
            padding: 5px 20px;
            transition: all 0.3s ease;

            i {
              margin-left: 5px;
              transition: all 0.3s ease;
            }

            &:hover {
              opacity: 0.8;
              letter-spacing: 2px;
            }

            &:hover i {
              transform: scale(1.3);
            }
          }

          .btn-edit {
            background-color: #0027d4;
          }

          .btn-delete {
            background-color: #d40000;
          }
        }
      }
    }
  }
}

.no-users {
  h2 {
    color: #d40000;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
  }
}
