@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #fafbfb;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #222;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}

.main {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .main-content {
    height: 90%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 90%;
  }
}

.btn-add_users {
  position: relative;
  width: 100%;

  button {
    background-color: #10c932;
    border: none;
    border-radius: 5px;
    color: #fafbfb;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5px 25px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #23da44;
    }
  }
}
